Repository zcdgitub/shiyan: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_apache, deploy_nginx, deploy_db_server, deploy_db_test

deploy_apache:
  stage: web
  script:
  - set -x
  - 'ssh root@$CI_DEPLOY_SERVER " \
  
    cd /etc/apache2/sites-available \
  
    && [ ! -e ${CI_PROJECT_PATH_SLUG}.conf ] \
  
    && sed ''s/epmms-template/${CI_PROJECT_PATH_SLUG}/g''  epmms-template.conf>${CI_PROJECT_PATH_SLUG}.conf \
  
  ...

deploy_nginx:
  stage: web
  script:
  - set -x
  - 'ssh root@$CI_DEPLOY_SERVER " \
  
    cd /opt/web/data/web/nginx/sites-available \
  
    && [ ! -e ${CI_PROJECT_PATH_SLUG}.conf ] \
  
    && sed ''s/epmms-template/${CI_PROJECT_PATH_SLUG}/g''  epmms-template.conf>${CI_PROJECT_PATH_SLUG}.conf \
  
  ...

deploy_db_server:
  stage: db
  script:
  - set -x
  - dbexist=$(ssh root@$CI_DEPLOY_SERVER "psql -U postgres -l -A -t|grep CI_DEPLOY_DBNAME|cut -f 1 -d '|'")
  - '[ -f "db/${CI_DEPLOY_DBNAME}.bak" -a -z "$dbexist" ] \
  
    && dbpasswd=$(openssl rand -base64 18) \
  
  ...

deploy_db_test:
  stage: db
  script:
  - set -x
  - dbexist=$(ssh root@$CI_DEPLOY_SERVER "cd $CI_DOCKER_PATH && docker-compose exec -T -u postgres pgsql psql -l -A -t|grep CI_DEPLOY_DBNAME|cut -f 1 -d '|'")
  - '[ -f "db/${CI_DEPLOY_DBNAME}.bak" -a -z "$dbexist" ] \
  
    && dbpasswd=$(openssl rand -base64 18) \
  
  ...

d4
  db/epmms_181225.bak
Due: deploy_db_server, deploy_db_test

d10
  .gitlab-ci.yml
  db/epmms_181225.bak
Due: deploy_apache, deploy_nginx, deploy_db_server, deploy_db_test

d11
  .gitignore
  db/epmms_181225.sql
Due: none

d12
  .gitlab-ci.yml
  db/epmms_181225.sql
Due: deploy_apache, deploy_nginx

d13
  db/epmms_181225.sql
Due: none

d14
  .gitlab-ci.yml
  db/epmms_181225.sql
Due: deploy_apache, deploy_nginx

test1
  webroot/index.php
Due: none

test2
  webroot/index.php
Due: none

test3
  .gitlab-ci.yml
  webroot/index.php
Due: deploy_apache, deploy_nginx

t4
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

t4
  webroot/index.php
Due: none

test5
  .gitlab-ci.yml
  webroot/index.php
Due: deploy_apache, deploy_nginx

test6
  .gitlab-ci.yml
  webroot/index.php
Due: deploy_apache, deploy_nginx

test20
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

test21
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

test23
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

test24
  webroot/protected/views/site/login - 副本 (2).php
  webroot/protected/views/site/login - 副本.php
  webroot/protected/views/site/login9.php
Due: none

test25
  .gitlab-ci.yml
  webroot/protected/config/main.php
Due: deploy_apache, deploy_nginx

test26
  webroot/protected/config/db.php
  webroot/protected/config/main.php
Due: none

test28
  .gitlab-ci.yml
  webroot/protected/config/db.php
Due: deploy_apache, deploy_nginx

test28
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

test29
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

test30
  webroot/index.php
Due: none

test35
  .gitlab-ci.yml
  webroot/index.php
Due: deploy_apache, deploy_nginx

同步db配置
  webroot/protected/config/db.php
Due: none

cuibin
  .idea/181225.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  webroot/protected/commands/JackpotCommand.php
Due: none

添加db部署时pg_hba中的权限配置
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

aa
  .idea/php.xml
  .idea/workspace.xml
Due: none

aa
  .gitignore
  .idea/workspace.xml
Due: none

cuibin-jiangchi
  .idea/workspace.xml
  webroot/protected/controllers/ConfigJackpotController.php
  webroot/protected/controllers/JackpotRecordController.php
  webroot/protected/models/ConfigJackpot.php
  webroot/protected/models/JackpotRecord.php
  webroot/protected/views/configJackpot/_form.php
  webroot/protected/views/configJackpot/update.php
  webroot/protected/views/jackpotRecord/_index.php
  webroot/protected/views/jackpotRecord/_search.php
  webroot/protected/views/jackpotRecord/_view.php
  webroot/protected/views/jackpotRecord/index.php
  webroot/protected/views/jackpotRecord/list.php
  webroot/protected/views/jackpotRecord/view.php
Due: none

modify .gitlab-ci.yml to clean old build files.
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

setting nginx port when upload to test server delete .idea directory.
  .gitlab-ci.yml
  .idea/181225.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/php.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: deploy_apache, deploy_nginx

fix db config
  .gitlab-ci.yml
  webroot/protected/config/db.php
Due: deploy_apache, deploy_nginx

fix db config
  .gitlab-ci.yml
Due: deploy_apache, deploy_nginx

fix db config
  webroot/protected/config/db.php
Due: none

test db config
  webroot/protected/config/db.php
Due: none

update db password
  webroot/protected/config/db.php
Due: none

cuibin
  webroot/protected/controllers/ConfigJackpotController.php
Due: none

Path conditions:
  deploy_apache: any of: .gitlab-ci.yml
  deploy_nginx: any of: .gitlab-ci.yml
  deploy_db_server: any of: db/*.bak
  deploy_db_test: any of: db/*.bak
